<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Model</th>
            <th>Color</th>
            <th>Speed</th>
        </tr>
        <tr th:each="car : ${carList}">
            <td th:text="${car.model}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.speed}"></td>
        </tr>
    </table>
</div>
</body>
</html>